<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<groups>
		<run>
			<!-- 		<include name="e2e"></include> -->
			<include name="sanity"></include>
		</run>
	</groups>
	<listeners>
		<listener class-name="com.nilesh.project.Listner"></listener>
	</listeners>
	<test thread-count="2" name="Test">
		<classes>
			 <class name="TestCase.VerifyOmayoBlogHomePgae" />
			<class name="TestCase4.VerifyUserSingIn" />
			<class name="TestCase4.VerifyTableData" /> 
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
